
@font-face {
    font-family: "segoePrBold";
    src: url(./ArtAssets/fonts/segoeprb.ttf);
}
@font-face {
    font-family: "OpenSans";
    src: url(./ArtAssets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

/*
* {
  outline: 1px red solid;
}

/* ========================================================================================================================*/
/* GENERAL STYLING -header nav Body footer */

body {
    background-color:white;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    touch-action: pan-y;
    justify-content: center;
}

h3 {
  display: flex;
  text-align: center;
  font-family: OpenSans;
  margin: 5px 0 0px 0;
}
@media (max-width: 450px) {
  h3 {
     font-size: 10pt;
    }
  }

p {
  display: flex;
  justify-content: center;
  font-family: OpenSans;
  margin: 0px 0 0px 0;
  font-size: 11pt;
}

.default-header {
  background-image: url(./ArtAssets/banner-bluecube.png);
  background-position: center;
  background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    min-height: 300px;
    width: 100%;
    box-shadow: 0px 0px 24px rgba(25, 27, 39, 0.6);
}


/* Media query for mobile-header image*/
@media (max-width: 450px) {
  .default-header {
     min-height: 100px;
     max-height: 100px;
     justify-content: space-between;
    }
  }
  @media (max-width: 844px) {
    .default-header {
     min-height: 100px;
     max-height: 150px;
    }
  }
#logo {
    width: 150px;
    margin: 0 2%;
}
@media (max-width: 844px) {
  #logo {
    width: 100px;
  }
}
/* Media query for mobile-logo*/
@media (max-width: 450px) {
    #logo {
      width: 60px;
      margin: 0;
    }
  }

#title-container {
  display: flex;
  align-items: center;
  }
#header-title {
  height: 200px;
}
@media (max-width: 450px) {
  #header-title {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 844px) {
  #header-title {
    height: 120px;
  }
}
#header-title-mobile {
  display: none;
}
@media (max-width: 450px) {
  #header-title-mobile {
    display: flex;
    height: 80px;
  }
}
#menu-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 290px;
  margin: 0 2%;
}
@media (max-width: 450px) {
  #menu-icon-container {
    height: 100px;
    width: 100px;
    margin: 0 0%;
  }
}

#menu-icon {
  height: 60px;
  margin-top: 100px;
}
@media (max-width: 450px) {
  #menu-icon {
    height: 40px;
    margin-top: 0px;
  }
}
@media (min-width: 450px) and (max-width: 844px) {
  #menu-icon {
    height: 55px;
  }
}
#menu-container {
  width: 150px;
  height: 110px;
}
@media (max-width: 450px) {
  #menu-container {
    position: absolute;
    right: -15px;
    top: 80px;
    z-index: 100;
  }
}
@media (min-width: 450px) and (max-width: 844px) {
  #menu-container {
    z-index: 100;
  }
}
nav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  background-color: white;
  width: 120px;
  margin-top: 5px;
}
nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: OpenSans;
  font-size: 20px;
  margin: 2px;
}

nav a:hover {
  color: gray;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* Footer Section */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./ArtAssets/banner-bluecube.png);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
    bottom: 0;
    box-shadow: 0px 0px 24px rgba(25, 27, 39, 0.4);
}
@media (max-width: 450px) {
    .footer {
      height: 120px;
    }
  }
  @media (max-width: 844px) {
    .footer {
      min-height: 100px;
      max-height: 150px;
    }
  }
  #thanks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  @media (max-width: 450px) {
    #thanks-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    }
  }
  @media (min-width: 450px) and (max-width: 844px) {
    #thanks-container {
      height: 150px;
    }
  }
  #thanks-img {
  width: 900px;
}
@media (max-width: 450px) {
  #thanks-img {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 844px) {
  #thanks-img {
    width: 600px;
  }
}

#thanks-img-mobile {
  display: none;
}
@media (max-width: 450px) {
  #thanks-img-mobile  {
    display: flex;
    width: 70%;
  }
}
/* ========================================================================================================================*/
/* Main Classes- strips etc */



.strip {
    display: flex;
    position: static;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Media query for mobile*/
@media (max-width: 450px) {
    .strip {
        display: flex;
        width: 100%;
        height: fit-content;
    }
  }

.strip h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #18212d;
}

.thin-strip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background-size: 160%;
  background-position: center;
  margin: 50px 0px;
}
@media (max-width: 450px) {
  .thin-strip {
      height: 200px;
  }
}
.thin-strip h1 {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
}











/* ================================================================================================================== */
/* LANDING PAGE */








#landing-intro {
  background-color: #bcbcbc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  margin: 100px;
  font-family: OpenSans;
}
@media (max-width: 844px) {
  #landing-intro {
    height: 200px;
    margin: 20px;
  }
}
#welcome-header {
  height: 80px;
}
@media (max-width: 450px) {
  #welcome-header {
      display: none;
  }
}
@media (min-width: 450px) and (max-width: 844px) {
  #welcome-header{
    height: 60px;
  }
}
#welcome-header-mobile {
  display: none;
}
@media (max-width: 450px) {
  #welcome-header-mobile {
      display: flex;
      height: 90px;
  }
}
#landing-intro p {
  font-size: 24px;
  text-align: center;
}
@media (max-width: 450px) {
  #landing-intro p {
    font-size: 17px;
    text-align: center;
  }
}
.landing-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 500px;
  margin: 10px;
}
@media (max-width: 450px) {
  .landing-container {
    flex-direction: column;
    width: 100%;
    height: 350px;
    margin-bottom: 60px;
  }
}
@media (min-width: 450px) and (max-width: 844px) {
  .landing-container {
    flex-direction: column;
    width: 80%;
    height: 350px;
    margin-bottom: 120px;
  }
}
.landing-container img {
  height: 400px;
  margin: 20px;
}
@media (max-width: 450px) {
  .landing-container img {
    height: 200px;
    margin: 0;
  }
}
@media (min-width: 450px) and (max-width: 844px) {
  .landing-container img {
    height: 200px;
    margin: 0;
  }
}
#landing-container-empty {
  width: 20%;
  height: 50px;
  max-width: 150px;
}
@media (max-width: 450px) {
  #landing-container-empty {
    display: none;
  }
}
.landing-container p {
  min-width: 450px;
  max-width: 450px;
  height: 80px;
  margin: 20px;
  text-align: center;
  font-family: OpenSans;
  font-size: 20px;
}
@media (max-width: 450px) {
  .landing-container p {
    min-width: 75px;
    font-size: 17px;
    margin: 0 20px;
  }
}

#continue-strip {
  display: flex;
  flex-direction: row;
}
@media (max-width: 844px) {
  #continue-strip {
    height: 100px;
    margin: 10px 0px;
  }
}
.continue-button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-image: url(./ArtAssets/banner-bluecube.png);
  background-position: 13% 12%;
  background-size: 600%;
  box-shadow: 0px 0px 12px rgba(25, 27, 39, 0.5);
  height: 150px;
  width: 400px;
  margin: 50px;
}
@media (max-width: 844px) {
  .continue-button {
    height: 75px;
    width: 200px;
    margin: 10px;
  }
}
.continue-button img {
  height: 100px;
}
@media (max-width: 844px) {
  .continue-button img {
    height: 50px;
  }
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/* Email List */
@media (max-width: 844px) {
  #email-strip {
    height: 500px;
  }
}
#mc_embed_shell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 800px;
}
@media (max-width: 450px) {
  #mc_embed_shell {
    height: 200px;
    width: 350px;
  }
}
@media (min-width: 450px) and (max-width: 844px) {
  #mc_embed_shell {
    width: 500px;
  }
}















/* ================================================================================================================== */
/* PORTFOLIO PAGE */





/* ----------------------------------------------------------------------------------------------- */
/* thumbnails */



.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
@media (max-width: 450px) {
  .gallery {
    width: 380px;
    flex-wrap: wrap;
    height: auto;
  }
}
@media (min-width: 450px) and (max-width: 844px) {
  .gallery {
    width: 600px;
    flex-wrap: wrap;
    height: auto;
  }
}
.portfolio-header {
  margin-top: 100px;
  height: 60px;
}
@media (max-width: 844px) {
  .portfolio-header {
    margin-top: 20px;
    height: 40px;
  }
}
#portfolio-header-mobile {
  display: none;
}
@media (max-width: 450px) {
  #portfolio-header-mobile {
    display: flex;
    height: 80px;
  }
}


.gallery img {
  cursor: pointer;
  height: 200px;
  width: 200px;
  margin: 5px;
  filter: grayscale(100%);
  transition: .25s;
}
@media (max-width: 428px) {
  .gallery img {
    height: 115px;
    width: 115px;
    filter: grayscale(0);
  }
}
@media (min-width: 450px) and (max-width: 844px) {
  .gallery img {
    height: 150px;
    width: 150px;
    filter: grayscale(0);
  }
}
.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}


/* --------------------------------------------------------------------------------- */
/* Reel Section */

#reel-strip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 600px;
}
@media (max-width: 844px) {
  #reel-strip {
    height: 350px;
  }
}

.reel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 844px) {
  .reel-container {
    width: 100%;
  }
}
#reel-strip iframe {
  width: 700px;
  height: 400px;
  margin: 0 50px;
  filter: grayscale(100%);
  transition: .25s;
}
@media (max-width: 450px) {
  #reel-strip iframe {
    height: 200px;
    width: 350px;
    margin: 0;
    filter: grayscale(0);
  }
}
@media (min-width: 450px) and (max-width: 844px) {
  #reel-strip iframe {
    width: 500px;
    height: 275px;
    margin: 0;
    filter: grayscale(0);
  }
}
#reel-strip iframe:hover {
  filter: grayscale(0);
  transform: scale(1.03);
}

/* --------------------------------------------------------------------------------------------------- */
/* About Me Section */

#aboutme-strip {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1200px;
}

@media (max-width: 450px) {
  #aboutme-strip {
    height: 1000px;
  }
}
@media (max-width: 844px) {
  #aboutme-strip {
    height: 1000px;
  }
}
#aboutme-container {
  display: flex;
  height: 750px;
  width: 650px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 450px) {
  #aboutme-container {
    width: 100%;
  }
}

#profile-pic-container {
  background-image: url(./ArtAssets/AboutMe/ProfilePic.png);
  background-size: contain;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: 30px;
}
#aboutme-h3 {
  font-family: OpenSans;
}
@media (max-width: 450px) {
  #aboutme-h3 {
    font-size: 12pt;
  }
}
#software-icons {
  width: 700px;
  height: auto;
  margin: 30px;
}

@media (max-width: 576px) {
  #software-icons {
    width: 80%;
    height: auto;
  }
}

#aboutme-p {
  font-family: OpenSans;
  max-height: 30%;
  width: 95%;
  text-align: center;
}

@media (max-width: 450px) {
  #aboutme-p {
    width: 90%;
    max-height: 40%;
  }
}

#about-me-empty-box {
height: 15%;
width: 75%;
}

@media (max-width: 450px) {
  #about-me-empty-box {
    height: 2%;
  }
}

#line1 {
  background-image: url(./ArtAssets/Line.svg);
  background-size: cover;
  height: 4px;
  width: 80%;
  max-width: 1000px;
  margin-top: 100px;
}

@media (max-width: 450px) {
  #line1 {
    width: 90%;
    margin: 50px 0 0px 0;
  }
}
#line2 {
  background-image: url(./ArtAssets/Line.svg);
  background-size: cover;
  height: 4px;
  width: 80%;
  max-width: 1000px;
  margin-top: 30px;
}
@media (max-width: 450px) {
  #line2 {
    margin: 0px 0 30px 0;
  }
}

/* --------------------------------------------------------------------------------- */
/*Guitarbacus */

#guitarbacus-strip {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 450px) {
  #guitarbacus-strip {
    height: 1000px;
  }
}
#guitarbacus-container {
  display: flex;
  height: 800px;
  width: 650px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

@media (max-width: 450px) {
  #guitarbacus-container {
    width: 100%;
  }
}

#guitarbacus-logo {
  height: 160px;
  margin-top: 150px;
}
@media (max-width: 450px) {
  #guitarbacus-logo {
    height: 150px;
  }
}
#guitarbacus-p {
  font-family: OpenSans;
  max-height: 30%;
  width: 95%;
  text-align: center;
}

@media (max-width: 450px) {
  #guitarbacus-p {
    width: 80%;
    max-height: 500px;
  }
}

#guitarbacus-gif {
  height: 250px;
}
@media (max-width: 450px) {
  #guitarbacus-gif {
    height: 175px;
  }
}












/* ---------------------------------------------------------------------------------------------------------------------- */
/* Merch Store */










#store-header-title {
  display: flex;
  width: 100%;
  max-height: 130px;
}
@media (max-width: 450px) {
  #store-header-title {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 1000px) {
  #store-header-title {
    display: none;
  }
}

#store-header-title-mobile {
  display: none;
}
@media (min-width: 450px) and (max-width: 1000px) {
  #store-header-title-mobile {
    display: flex;
    height: 100px;
  }
}
@media (max-width: 450px) {
  #store-header-title-mobile {
    display: flex;
    height: 75px;
  }
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}



#store {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 450px) {
  #store {
    width: 100%;
  }
}




.collection-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
}
@media (max-width: 450px) {
  .collection-header {
    height: 60px;
    margin-bottom: 25px;
  }
}

.store-section-header {
  height: 60px;
}
@media (max-width: 450px) {
  .store-section-header {
    height: 40px;
  }
}

/* ================================================================================================================== */
/* FEATURED SECTION */


.featured-items {
  display: flex;
  width: 100%;
  height: 10px;
}
@media (max-width: 450px) {
  .featured-items {
    height: 10px;
  }
}

/* ================================================================================================================== */
/* shirts Section */

#shirts-header-closed {
  display: none;
  cursor: pointer;
}
#shirts-header-open {
  display: block;
  cursor: pointer;
}

#shirts {
  display: flex;
  width: 100%;
}
@media (max-width: 450px) {
  #shirts {
    margin-bottom: 25px;
    height: auto;
  }
}

/* ================================================================================================================== */
/* tanks Section */

#tanks-header-closed {
  display: none;
  cursor: pointer;
}
#tanks-header-open {
  display: block;
  cursor: pointer;
}

#tanks {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width: 450px) {
  #tanks {
    margin-bottom: 25px;
    height: auto;
  }
}


/* ================================================================================================================== */
/* shirts Section */

#stickers-header-closed {
  display: none;
  cursor: pointer;
}
#stickers-header-open {
  display: block;
  cursor: pointer;
}
#stickers {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}
@media (max-width: 450px) {
  #stickers {
    margin-bottom: 25px;
    height: auto;
  }
}

/* ================================================================================================================== */
/* Collab Section */

#collab-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  
}
#collab-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}
@media (max-width: 450px) {
  #collab-header {
    height: auto;
    margin: 0 0 20px 0;
  }
}
#collab-header-open {
  display: block;
}
#collab-header-closed {
  display: none;
}
#collab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px;
}
@media (max-width: 450px) {
  #collab-container {
    flex-direction: column;
  }
}
.collab-img {
  height: 250px;
  margin: 10px;
}
@media (max-width: 450px) {
  .collab-img {
    height: 150px;
  }
}

/* ================================================================================================================== */
/* STORE GALLERY */

.store-gallery-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
}
.store-gallery-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  height: auto;
  width: 350px;
  margin: 30px 0 0 0;
}
/*Mobile */
@media only screen and (max-width: 767px) {
  .store-gallery-item {
      width: 180px;
      margin: 15px 0 0 0;
  }
}
.store-gallery-item img {
  width: 100%;
  height: auto;
}
.store-gallery-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.store-gallery-description button {
  height: 50px;
  width: 150px;
}
.store-gallery-button {
  display: flex;
  transform: translate(0 ,-20%);
}


/* ================================================================================================================== */
/* Moose GALLERY */

#moose-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100vw;
  background-color: #697556;
  margin: 50px 0 0 0;
  box-shadow: 0px 0px 24px rgba(25, 27, 39, 0.6);
}
/*Mobile */
@media only screen and (max-width: 767px) {
  #moose-banner {
    height: 150px;
  }
}
#moose-banner img {
  display: flex;
  height: 90%;
}

#moose-collection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 25px 0 50px 0;
}

/* ================================================================================================================== */
/* HHF GALLERY */

#hhf-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100vw;
  background-color: #e3eaff;
  margin: 100px 0 0 0;
  box-shadow: 0px 0px 24px rgba(25, 27, 39, 0.6);
}
/*Mobile */
@media only screen and (max-width: 767px) {
  #hhf-banner {
    height: 150px;
    margin: 50px 0 0 0;
  }
}
#hhf-logo {
  display: flex;
  position: relative;
  height: 100%;
  left: -100px;
}
/*Mobile */
@media only screen and (max-width: 767px) {
  #hhf-logo {
    left: -60px;
  }
}
#hhf-collection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 25px 0 50px 0;
}

#donation-sticker {
  display: flex;
  position: relative;
  height: 200px;
  top: -130px;
  left: 10px;
  z-index: 1000;
  transform: rotate(-5deg);
}
/*Mobile */
@media only screen and (max-width: 767px) {
  #donation-sticker {
    height: 110px;
    top: -65px;
    left: 0px;
  }
}