html {
    height: 100%;
}
@font-face {
    font-family: "segoePrBold";
    src: url(./ArtAssets/fonts/segoeprb.ttf);
}
@font-face {
    font-family: "OpenSans";
    src: url(./ArtAssets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
body {
    background-color:#0d6e95;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
@media (max-width: 428px) {
    body {
    }
  }
header {
    background-image: url(./ArtAssets/Banner.png);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
    box-shadow: 0px 0px 24px rgba(25, 27, 39, 0.6);
}
/* Media query for mobile-header image*/
@media (max-width: 428px) {
    header {
      min-height: 175px;
    }
  }


#logo {
    background-image: url(./ArtAssets/MainLogo.svg);
    background-size: 100%;
    position: absolute;
    top: 25px;
    left: 50%;
    height: 250px;
    width: 1125px;
    z-index: 0;
    transform: translate(-50%, 0%);
}
/* Media query for mobile-logo*/
@media (max-width: 428px) {
    #logo {
        background-image: url(./ArtAssets/MainLogoMobile.svg);
      width: 95%;
      height: 18%;
      top: 28px;
    }
  }

#menu {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 210px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 50px;
    width: 1000px;
}
.menu {
    cursor: pointer;
    position: static;
    padding: 0px 115px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #18376c;
    font-size: 18pt;
    text-align: center;
    z-index: 3;
}
#menu p {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -4px;
    color: #18376c;
    font-size: 40px;
    text-align: center;
    z-index: 3;
}
/* Media query for mobile*/
@media (max-width: 428px) {
    #menu {
        height: 65px;
        width: 95%;
        top: 90px;
    }
  }
  @media (max-width: 428px) {
    .menu {
        font-size: 14px;
        padding: 0px 0px;
    }
  }
  @media (max-width: 428px) {
    #menu p {
        font-size: 18px;
    }
  }

header nav button {
    border: none;
    background-color: transparent;
  }

/* ------------------------------------------------------------------------------------------- */
/* Main Classes */

.strip {
    position: static;
    width: 100%;
    height: 875px;
    margin: 0px;
}
/* Media query for mobile*/
@media (max-width: 428px) {
    .strip {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        justify-content: center;
    }
  }
.strip-header {
    position: relative;
    top: 25px;
    font-family: OpenSans;
    font-size: 50pt;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
/* Media query for mobile*/
@media (max-width: 428px) {
    .strip-header {
        top: 5px;
        font-size: 50px;
    }
}
.dividing-line {
    position: relative;
    background-image: url(./ArtAssets/Line.svg);
    background-size: cover;
    height: 5px;
    width: 1341px;
    left: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    transform: translate(-50%, -50%);
 }
/* Media query for mobile*/
@media (max-width: 428px) {
    .dividing-line {
        width: 90%;
        left: 45%;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
.card-container {
    display: flex;
    justify-content: center;
}
/* Media query for mobile*/
@media (max-width: 428px) {
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  }
.card {
    cursor: pointer;
    position: relative;
    height: 600px;
    width: 400px;
    background-color: #085c7e;
    top: 25px;
    margin: 0px 25px;
    border-radius: 15px;
    border-width: 10px;
    background-color: #085c7e;
    border: 3px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0px 9px 10px rgba(25, 27, 39, 0.3);
}
/* Media query for mobile*/
@media (max-width: 428px) {
    .card {
        top: 0px;
        margin-bottom: 50px;
        height: 480px;
        width: 320px;
    }
  }
.card-header {
    margin: 25px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36pt;
    color: #ffffff;
    text-align: center;
}
/* Media query for mobile*/
@media (max-width: 428px) {
    .card-header {
        font-size: 28pt;
        margin: 10px;
        margin-bottom: 10px;
    }
  }
.card-gif {
    position: relative;
    top: 15%;
    left: 50%;
    height:187px;
    width: 332px;
    border: 2px solid #ffffff;
    border-radius: 11px;
    transform: translate(-50%, -50%);
}
/* Media query for mobile*/
@media (max-width: 428px) {
    .card-gif {
        display: flex;
        top: 21%;
        width: 290px;
        height: auto;
    }
  }
.card-P {
    font-family:sans-serif;
    line-height: 28px;
    font-size: 16pt;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 330px;
}
/* Media query for mobile*/
@media (max-width: 428px) {
    .card-P {
        font-size: 14pt;
        width: 300px;
        padding: 9px;
        margin-top: 50px;
    }
  }


/* ------------------------------------------------------------------------------------------- */
/* Popup styling */

.card-popup {
    display: none;
    position: fixed;
    top: 10%;
    left: .5%;
    height: 1000px;
    width: 1200px;
    border-radius: 15px;
    background-color: #187497;
    padding: 20px;
    z-index: 5;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 428px) {
    .card-popup {
        max-height: 85%;
        min-height: 25%;
        width: 340px;
        left: .75%;
        top: 2.5%;
    }
  }
  .card-popup.active {
    display: block;
  }
  
  .popup-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
  }
.card-popup-header {
    margin-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 44pt;
    color: #ffffff;
    text-align: center;
}
@media (max-width: 428px) {
    .card-popup-header {
        font-size: 24pt;
    }
  }
.card-popup-dividing-line {
    position: relative;
    background-image: url(./ArtAssets/Line.svg);
    background-size: cover;
    height: 4px;
    width: 1000px;
    left: 50%;
    margin-top: 15px;
    margin-bottom: 20px;
    transform: translate(-50%, -50%);
 }
 @media (max-width: 428px) {
    .card-popup-dividing-line {
        display: none;
    }
  }
 .arrow-left {
    height: 75px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(-50%, -50%);
 }
 @media (max-width: 428px) {
    .arrow-left {
        height: 35px;
    }
  }
 .arrow-right {
    height: 75px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%);
 }
 @media (max-width: 428px) {
    .arrow-right {
        height: 35px;
    }
  }
 .popup-gallery {
    position: relative;
 }
 .popup-gallery img {
    display: none;
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 @media (max-width: 428px) {
    .popup-gallery img {
        top: 200px;
        max-width: 80%;
    }
  }

 .popup-gallery video {
    display: none;
    position: absolute;
    margin-top: 4%;
    left: 8%;
 }
 @media (max-width: 428px) {
    .popup-gallery video {
        display: flex;
        top: 20px;
        max-width: 95%;
        left: 2.5%;
    }
  }
 .popup-gallery img.active {
    display: block;
 }
 .popup-gallery video.active {
    display: block;
 }

 .popup-gallery-description p {
    display: none;
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%, 0);
    height: 400px;
    width: 85%;      
    font-family: sans-serif;
    font-size: 16pt;
    line-height: 28px;;
    color: white;
    text-align: center;
 }
 @media (max-width: 428px) {
    .popup-gallery-description p {
        top: 52%;
        font-size: 10pt;
        line-height: 20px;
        height: 30%;
    }
  }
 .popup-gallery-description p.active {
    display: block;
 }
 @media (max-width: 428px) {
    .popup-gallery-description p.active {
        display: inline;
    }
  }
/* ------------------------------------------------------------------------------------------- */
/* About Me Section */
@media (max-width: 428px) {
    #aboutMe-strip {
        height: 62% !important;
    }
  }
  /*waving avatar*/
#aboutMe-strip img {
    position: relative;
    top: 100%;
    width: 69%;
    left: 15%;
    z-index: 0;
    transform: translate(0%, -100%);
}
@media (max-width: 428px) {
    #aboutMe-strip img {
        width: 100%;
        top: 100%;
        left: 0%;
    }
  }
#speechbubble {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 398px;
    width: 618px;
    border-radius: 25px;
    top: -96%;
    left: 21%
}
@media (max-width: 428px) {
    #speechbubble {
        background-color: #ffffff;
        top: -85%;
        left: -5%;
        height: 140px;
        width: 280px;
    }
  }
#response-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 428px) {
    #response-container {
        display: absolute;
        margin-top: 64%;
    }
  }
.response {
    display: flex;
    height: 300px;
    font-family: segoePrBold;
    font-size: 24px;
    color: black;
    text-align: center;
    max-width: 650px;
}
@media (max-width: 428px) {
    .response {
        display: block;
        font-size: 12px;
        max-width: 260px;
    }
  }
#button-container {
    display: block;
    position: relative;
    top:-90%;
    left: 30%;
    width: 20%;
    height: 40%;
    justify-content: center;
    z-index: 4;
}
@media (max-width: 428px) {
    #button-container {
        display: flex;
        flex-wrap: wrap;
        top: -78%;
        left: -20%;
        width: 50%;
        height: 0%;
        justify-content: center;
        z-index: 4;
    }
  }
.buttons {
    display: flex;
    cursor: pointer;
    position: static;
    height: 85px;
    width: 400px;
    margin-top: 15px;
    background-color: #085c7e;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0px 9px 10px rgba(25, 27, 39, 0.3);
    font-family: "segoePrBold";
    color: #ffffff;
    font-size: 20px;
    max-width: 330px;
    line-height: 27px;
    text-align: center;
    transform: translate(-50%, -50%);
}
@media (max-width: 428px) {
    .buttons {
        transform: translate(0%, 0%);
        height: 35px;
        width: 155px;
        font-size: 11px;
        line-height: 16px;
        margin-top: 10px;
        margin-right: 20px;
    }
  }
.buttons p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


/* ------------------------------------------------------------------------------------------- */
/* Email List */

.thin-strip {
    position: static;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0px 8px 10px rgba(25, 27, 39, 0.2);
}
@media (max-width: 428px) {
    .thin-strip {
        height: 200px;
    }
  }
#email-list-header {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color:#085c7e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
@media (max-width: 428px) {
    #email-list-header {
        font-size: 10px;
        text-align: center;
        height: 34%;
        padding: 5px 10px;
    }
  }
#email-list-button {
    background-size: 100%;
    display: flex;
    position: relative;
    left: 50%;
    height: 140px;
    width: 200px;
    transform: translate(-50%, 0)
}
@media (max-width: 428px) {
    #email-list-button {
        height: 110px;
        width: 157px;
    }
  }

/* ------------------------------------------------------------------------------------------- */
/* Animation Section */


/* ------------------------------------------------------------------------------------------- */
/* Dev Section */

#dev-strip {
    background-color: #085c7e;
}
#dev-strip .card {
    background-color: #0d6e95 !important;

}
#popup-dev1 p {
    top: 68% !important;
}
@media (max-width: 428px) {
    #popup-dev1 p {
        top: 50% !important;
        height: 30%;
    }
  }
#popup-dev2 p {
    top: 75% !important;
}
@media (max-width: 428px) {
    #popup-dev2 p {
        top: 50% !important;
        height: 30%;
    }
  }
#popup-dev3 p {
    top: 70% !important;
}
@media (max-width: 428px) {
    #popup-dev3 p {
        top: 50% !important;
        height: 30%;
    }
  }

/* ------------------------------------------------------------------------------------------- */
/* Design Section */

#popup-des2 p {
    top: 76%;
}
@media (max-width: 428px) {
    #popup-des2 p {
        top: 60% !important;
        height: 30%;
    }
  }
#popup-des3 p {
    top: 78% !important;
}
@media (max-width: 428px) {
    #popup-des3 p {
        top: 65% !important;
        height: 30%;
    }
  }

/* ------------------------------------------------------------------------------------------- */
/* Footer Section */


.footer {
    background-image: url(./ArtAssets/Banner.png);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
    box-shadow: 0px 0px 24px rgba(25, 27, 39, 0.6);
}
@media (max-width: 428px) {
    .footer {
      min-height: 175px;
    }
  }
#thanks-container {
    display: flex;
    position: relative;
    background-image: url(./ArtAssets/ThanksForComing.svg);
    background-size: 100%;
    height: 200px;
    width: 1114px;
    top: 145px;
    left: 50%;
    transform: translate(-50%, -50%);

}
@media (max-width: 428px) {
    #thanks-container {
        background-image: url(./ArtAssets/ThanksForComingMobile.svg);
      width: 95%;
      height: 120px;
      top: 80px;
    }
  }
#contact-info-container {
    display: flex;
    position: relative;
    height: 75px;
    top: 50%;
}
@media (max-width: 428px) {
    #contact-info-container {
        display: none;
    }
  }
  #contact-info-container-mobile {
    display: none;
  }
@media (max-width: 428px) {
    #contact-info-container-mobile {
        display: flex;
        position: relative;
        height: 50px;
        width: 100%;
        top: 48%;
        align-items: center;
        justify-content: center;
        color: #18376c;
        font-family: segoePrBold;
        font-size: 9pt;
    }
  }
@media (max-width: 428px) {
    #contact-info-container-mobile h1 {
        padding: 0px 18px;
    }
  }
  
#contact-info-container h1 {
    display: flex;
    color: #18376c;
    font-family: segoePrBold;
    padding: 0 30px;
    margin-left: 20px;;
    cursor: pointer;
}

